@charset "UTF-8";

/**Las fuentes están instaladas directamente en el "head" del archivo HTML de cada sección**/
* {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

/** Sección de Promociones **/
#promotionTag {
  height: 40px;
  background-color: black;
  gap: 15px;
}

#promotionTag span {
  color: #FCC5DA;
  font-family: Nunito Sans;
  font-size: 14px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
}

/** Barra de Navegación **/
.navBar {
  height: 50px;
  box-shadow: 0px 10px 25px rgba(252, 197, 218, 0.5);
}

.navBar ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.navBar a {
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/* Efecto de hover */
.navBar a:hover {
  color: #FCC5DA;
  /* Cambia el color del texto al pasar el mouse */
}

/** Estilos para el LandingPage **/
#landingBody {
  background-image: url("assets/CraftMania-Background-Landingpage.png");
  background-position: center;
  background-repeat: no-repeat;
}

.landingMainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/**Estilos para Index.html**/

/**Encabezado**/

#headerSection {
  background-color: white;
  text-align: center;
}

#headerSection span {
  color: #FCC5DA;
  font-family: Nunito Sans;
  letter-spacing: 4px;
  text-transform: uppercase;
}

#headerSection h1 {
  color: #F7C4DA;
  font-family: Muthiara -Demo Version-;
}

#headerSection p {
  text-align: justify;
  font-family: Nunito Sans;
}

/**Botón del encabezado **/

#headerBtn {
  width: 250px;
  height: 40px;
  border-radius: 5px 20px;
  background: #FCC5DA;
  color: #FFF;
  text-align: justify;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: 20px !important;
  border: none;
}

#headerBtn:hover {
  background: white;
  color: #000;
  border: 3px solid #FCC5DA !important;
  transform: scale(1.05);
  opacity: 0.8;
}

#headLogo {
  width: auto;
  height: 175px;
}


/**Estilos para la segunda sección del contenido de Index**/

#secondSection {
  background: linear-gradient(180deg, #FCC5DA 0%, rgba(252, 197, 218, 0.00) 100%);
  height: auto;
  display: flex;
  align-items: center;
}

#polygonIcon {
  width: 125px;
  height: 50px;
}

.welcomeItems {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.welcomeItem img {
  height: auto;
  max-width: 48px;
}

.welcomeItem {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000;
  text-align: center;
  font-family: Nunito;
  font-size: 16px;
  font-weight: 800;
  text-transform: uppercase;
  gap: 5px;
}


/**Tercera Sección de Index.html**/

@keyframes destello {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

#thirdSection h2 {
  color: #FCC5DA;
  font-family: 'Muthiara -Demo Version-', sans-serif;
  font-size: 64px;
  animation: destello 2s infinite;
}

#thirdSection span {
  color: #000;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 300;
}

#themeContainer {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}

#themeContainer .themeLogo {
  height: auto;
  transition: transform 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Capa negra semitransparente */
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s;
}

.themeLogo {
  height: auto;
  padding: 15px !important;
  display: none;
  /* Inicialmente oculto */
}

#themeContainer:hover .overlay {
  opacity: 1;
  /* Mostrar la capa negra al hacer hover */
}

#themeContainer:hover .themeLogo {
  display: block;
  max-width: 85%;
  /* Mostrar el logo al hacer hover */
}

/* Estilos generales del footer */

.main-footer {
  height: 300px;
  position: relative;
}

.main-footer span {
  color: white;
}

#footerBody {
  height: 300px;
  left: 0px;
  top: 42px;
  position: absolute;
  background: black;
}

.footerlogo {
  width: 265px;
  height: 85px;
  left: 587px;
  top: -10px;
  position: absolute;
}

/**Estilos para el contenido del texto **/
.sectionContainer {
  gap: 10px
}

.sectionTitle {
  font-family: Nunito Sans;
  font-size: 20px;
  font-weight: 800;
}

.sectionItem {
  font-family: Nunito Sans;
  font-size: 14px;
  font-weight: 400;
}

.copyrigth {
  width: 1250px !important;
  margin: 0 auto !important;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 12px;
}

/** Estilos para contact.html**/

#contactHeader h1 {
  color: #FCC5DA;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/**Estilos para textos a la izquierda **/

.formText {
  text-align: justify;
}

/**Estilos para contenedor padre del formulario **/

.formBox {
  background-image: url(./assets/backgroundFormulario.jpg);
  width: 550px;
  height: 575px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 10px 10px 0px 0px #F7C4DA;
}

/** Estilos para Input Fields de Formulario **/

.formBox {
  padding: 30px !important;
}

.formBox p {
  padding: 10px 0px 25px 25px !important;
  text-align: center;
  color: white;
}

.formBox h1 {
  text-align: center;
  font-family: 'Nunito Sans';
  letter-spacing: 8px;
  font-size: 32px;
  font-weight: 800 !important;
}

/** Estilos para InputFields **/

.input-label {
  color: #F7C4DA;
  text-align: center;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 5px;
}

.custom-input {
  border-bottom: 2.5px solid #F7C4DA !important;
  padding: 5px;
  outline: none;
  background: none;
  width: 100% !important;
  color: white;
}

.custom-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: Nunito Sans;
  font-weight: 400;
}

.custom-textarea {
  resize: none;
  border-bottom: 2.5px solid #F7C4DA !important;
  padding: 5px;
  outline: none;
  background: none;
  width: 100% !important;
  color: white;
}

.custom-textarea::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-family: Nunito Sans;
  font-weight: 400;
}



/**Estilos para Botón de Formulario **/

#contactBtn {
  width: 250px;
  height: 40px;
  border-radius: 5px 20px;
  background: #FCC5DA;
  color: #FFF;
  text-align: justify;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-top: 20px !important;
  border: none;
}

#contactBtn:hover {
  background: none;
  color: white;
  border: 3px solid #FCC5DA !important;
  transform: scale(1.05);
}

/*# sourceMappingURL=estilos.scss.map */